.logo img {
    height: 32px;
}

.navbar {
    margin-bottom: 0px;
}

.banner-image {
    width: 100%;
    margin-bottom: 20px;
}

.banner-image img {
    width: 100%;
}

body.navbar-is-fixed-top {
    padding-top: 51px!important;
}

.navbar-default {
    background-color: white;
}

.navbar-default .navbar-nav {
    float: right;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a {
    /* background-color: white; */
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    background-color: #f9f9f9;
}

.card {
    background-color: #f9f9f9;
    height: 200px;
    padding: 20px;
}

.welcome-cards .card h3 {
    margin-top: 0;
}

.jumbotron.banner {
    padding: 0;
}

.row + .row {
    padding-top: 30px;
}

.lead {
    margin-bottom: 0px;
}

.footer {
    margin-top: 30px;
    padding: 30px 0 30px 0;
    /* background-image: url("/sites/all/themes/stwss/img/footer-background.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: auto auto; */
}

.footer a {
    /* color: white; */
}

.footer a:hover {
    /* color: #428bca; */
    /* text-decoration: none; */
}

/* Title block */

.title-banner {
    padding: 30px;
    color: white;
    background-color: #b10918;
}

.title-banner h1 {
    font-size: 55px;
    margin: 0;
    padding: 0;
    border: none;
}

.nav-pills {
    margin-bottom: 20px;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
