

.logo img {
    height: 34px;
}

.navbar {
    margin-bottom: 0px;
}

.banner-image {
    width: 100%;
    margin-bottom: 20px;
}

.banner-image img {
    width: 100%;
}

.banner .banner-inner {
    max-width: 800px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

.banner a {
    text-decoration:none;
}

.banner h1 {
    font-size: 28px;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.banner p {
    font-size: 18px;
}

body.navbar-is-fixed-top,
body.toolbar.navbar-is-fixed-top {
    padding-top: 51px!important;
}

body.logged-in.navbar-is-fixed-top,
body.logged-in.toolbar.navbar-is-fixed-top {
    padding-top: 81px!important;
}

.navbar-default {
    background-color: white;
}

.navbar-default .navbar-nav {
    float: right;
}

.navbar-default .navbar-nav>li>a {
    color: #4b4b4b;
}

.navbar-default .navbar-nav a {
    font-size: 12px;
    color: #4b4b4b;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a {
    /* background-color: white; */
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    background-color: #f9f9f9;
}

.card {
    background-color: #f9f9f9;
    /* padding: 20px; */
    display: flex;
    display: -webkit-flex;
    min-height: 200px;
}

.card.action-point {
    padding: 0px;
}

.welcome-cards .col-md-3 {
    padding: 0 15px;
}

.card.action-point a {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 200px;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.card.action-point a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.card.action-point.alpha {
    background-image: url("/sites/all/themes/stwss/img/action-point-alpha.png");
}

.card.action-point.cyp {
    background-image: url("/sites/all/themes/stwss/img/action-point-children-and-young-people.jpg");
}

.card.action-point.welcome {
    background-image: url("/sites/all/themes/stwss/img/action-point-welcome.jpg");
}

.card.action-point.sundays {
    background-image: url("/sites/all/themes/stwss/img/action-point-sundays.jpg");
}

.card h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-weight: bold;
    /* display: block; */
    /* padding: 20px; */
    /* margin: 0; */
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
}

/* .welcome-cards { */
/*     padding-top: 30px; */
/* } */

.welcome-cards .card h3 {
    margin-top: 0;
}

.jumbotron {
    background-image: url("/sites/all/themes/stwss/img/header-background.jpg");
    background-repeat: no-repeat;
    background-color: "#b10918";
    background-size: 100% 100%;
    color: white;
}

.jumbotron.banner {
    padding: 0;
}

.jumbotron h1.page-header {
    border: none;
    margin: 0;
    padding: 0;
}

.row + .row {
    padding-top: 30px;
}

.lead {
    margin-bottom: 0px;
}

.footer {
    margin-top: 30px;
    padding: 30px 0 30px 0;
    /* background-image: url("/sites/all/themes/stwss/img/footer-background.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: auto auto; */
}

.footer a {
    /* color: white; */
}

.footer a:hover {
    /* color: #428bca; */
    /* text-decoration: none; */
}

/* Title block */

.title-banner {
    padding: 30px;
    color: white;
    background-color: #b10918;
}

.title-banner h1 {
    font-size: 55px;
    margin: 0;
    padding: 0;
    border: none;
}

.nav-pills {
    margin-bottom: 20px;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
